caracals/data/Caracal_Denning_Data_2023JUNE25.txt
caracals/data/Caracal_Denning_Data_Trips-250m_2023JUNE25.txt
caracals/data/Caracal_Trip_Stats_250m-2023JUNE25.txt
caracals/data/TMC03_DenningDataOnly_010116_012916.csv
caracals/data/TMC13_DenningDataOnly_092415_110515.csv
caracals/data/TMC27_DenningDataOnly_091116_102516.csv
caracals/data/TMC28_DenningDataOnly_091016_102516.csv
